<div class="contact" id="contact"><h1>Contact us</h1>

<%= flash[:notice] %>

<%= form_tag("/static_pages/thank_you/") do %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= label_tag :name, "Name" %>
      <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name", required: "required" %>
    </div>
    <div class="form-group">
      <%= label_tag :email, "Email Address" %>
      <%= email_field_tag :email, nil, class: "form-control", placeholder: "Enter Email", required: "required" %>
    </div>
    <div class="form-group">
      <%= label_tag :message, "Message" %>
      <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message", required: "required" %>

    </div>
       <%= submit_tag "Send", class:  "btn btn-default" %>
    </div>
</div>

<% end %>


<!--we need to build a test for the contact form. I've found some useful information on http://everydayrails.com/2012/03/19/testing-series-rspec-models-factory-girl.html .. should we create a new file in models for contact and write the tests like: require 'spec_helper'

describe Contact do
  it "has a valid factory"
  it "is invalid without a firstname"
  it "is invalid without a lastname"
  it "returns a contact's full name as a string"
end ? -->
