<div class="col-md-8" id="map" style="height: 500px; width: 700px"></div>
    <script>
    function initMap() {
  var myLatLng = {lat: <%= @location.latitude || 52.499138 %>, lng: <%= @location.longitude || 13.449807 %>};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    draggable: true,
  });

  function handleDragend(mouseEvent) {
    $('#location_latitude').val(marker.getPosition().lat())
    $('#location_longitude').val(marker.getPosition().lng())
  }
  function handleDrag(mouseEvent) {
    $('#coordinates').html(marker.getPosition().lat() + ", " + marker.getPosition().lng())
  }

  marker.addListener('dragend', handleDragend);
  marker.addListener('drag', handleDrag);

  var point = marker.getPosition();
  map.panTo(point);

  localStorage['lastLat'] = point.lat();
  localStorage['lastLng'] = point.lng();
}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgfmYcnR_ODZPi8R2Q4s-LR2L5uX3gfMo&callback=initMap"
    async defer></script>
<br>
Your current position
<div id="coordinates">

</div>

<div class="new-location form-group">
<%= form_for(@location) do |f| %>

<div class="col-md-4 form-group field">
  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
</div>

<div class="col-md-4 form-group field">
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
</div>

<div class="col-md-4 form-group field">
  <%= f.label :growing_status %>
  <%= f.text_field :growing_status, class: "form-control", placeholder: "Growing Status" %>
</div>

<div class="col-md-4 form-group field">
  <%= f.label :permission %>
  <%= f.text_field :permission, class: "form-control", placeholder: "Permission" %>
</div>

<div class="col-md-4 form-group field">
  <%= f.label :notes %>
  <%= f.text_field :notes, class: "form-control", placeholder: "Notes"  %>
</div>

<div class="col-md-4 form-group field">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control", placeholder: "Title"  %>
</div>

<div class="col-md-4 form-group field">
  <%= f.label :image_url %>
  <%= f.text_field :image_url, class: "form-control", placeholder: "Image URL"  %>
</div>

  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit :Update, class: "btn btn-success" %>
  </div>
<% end %>
</div><!--end div newlocation-->
