<p id="notice"><%= notice %></p>

<div class="locations-container">
  <%= render 'search_form' %>
  <%= link_to 'Add Location', new_location_path, class: "btn btn-default locations-button" %>
  <div class="locationsmap" style="width: 800px; height: 600px">
  </div>
</div><!--end locations-container-->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgfmYcnR_ODZPi8R2Q4s-LR2L5uX3gfMo"></script>

<script>
var locations = [];
<% for location in @locations %>
  locations.push({
    lat: <%= location.latitude %>,
    lng: <%= location.longitude %>,
    id: "<%= location.id %>",
    title: "<%= location.title %>",
    imageUrl: "<%= location.image_url %>",
    createdAt: "<%= location.created_at %>",
    permission: "<%= location.permission %>",
    growingStatus: "<%= location.growing_status %>"
  });
<% end %>
buildMap(locations);
</script>
